.merriweather-sans-headings {
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 60px;
}

#home-page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background: rgb(15, 17, 24);
}

#home-image-div {
    width: 70%;
    height: 100%;
}

#home-image-div img {
    width: 100%;
    height: 100%;
}

#home-content {
    width: 50%;
    padding: 10px;
    margin: 10px 0px 10px 20px;
}

.text-gradient {
    --bg-size: 400%;
    --color-one: hsl(15 90% 55%);
    --color-two: hsl(223, 95%, 55%);
    background: linear-gradient(90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    animation: move-bg 8s infinite linear;
}

@media (prefers-reduced-motion: no-preference) {
    .boujee-text {
        animation: move-bg 8s linear infinite;
    }

    @keyframes move-bg {
        to {
            background-position: var(--bg-size) 0;
        }
    }
}


#home-content h1 {
    color: rgb(104, 153, 237);
}

#home-content p {
    font-size: 20px;
    color: #9268b4;
}

.glow-on-hover {
    margin: 30px 0 10px 0;
    width: 220px;
    height: 50px;
    border: 1px solid rgb(104, 153, 237);
    outline: none;
    color: #bb68ff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: large;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


@media screen and (max-width:1090px) {
    #home-page {
        height: 80vh;
    }
    
}

@media screen and (max-width:800px) {
    #home-image-div {
        display: none;
    }

    #home-page{
        background: linear-gradient(to right,#111016, #0705089f),url("../assets/img1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #home-content p {
        color: #c687fa;
    }

    #home-content h1 {
        color: rgb(84, 164, 255);
    }

    #home-content {
        width: 100%;
    }

    
}


@media screen and (max-width:612px) {

    #home-content p {
        font-size: 15px;
        color: #c687fa;
    }

    #home-content h1 {
        color: rgb(84, 164, 255);
        font-size: 50px;
    }

    
}
